.skills {
    margin: 5px auto 5px auto;
    width: 100%;
    border-spacing: 5px 5px;
    td {
      background-color:grey;
      color: white;
      border: 1px solid white;
      padding: 2px 15px 2px 15px;
      text-align: right;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }