* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200vh;
}

.pokemonsTitle {
  background-color: aquamarine;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: #3a3939;
}
